@media only screen and (min-width:960px) and (max-width:1299px) {

    .home_content_top {
        width: 50%;
    }

    .btn_home {
        width: 60%;
    }

    .click_mmh strong {
        font-size: 25px;
    }
}

@media only screen and (max-width:959px) {

    #main_overlay {
        background-position: 48% 50%;
    }

    .main_overlay_nav ul {
        justify-content: center;
    }

    .main_overlay_nav ul li {
        font-size: 18px;
        margin: 0px;
    }

    .main_overlay_nav ul li:first-child {
        padding: 10px 15px;
    }

    .main_overlay_nav ul li:nth-child(2) {
        margin: 0px 20px;
    }

    .main_overlay_nav ul li:last-child {
        padding: 10px 0px;
    }

    .main_overlay_middle {
        width: 100%;
        margin-top: 100px;
    }

    .main_overlay_slogan {
        line-height: 50px;
        font-size: 25px;
        border: none;
    }

    .main_overlay_bottom {
        font-size: 16px;
        margin-top: 140px;
    }

    .butterfly {
        top: 14%;
        height: 120px;
        width: 120px;
    }

    .flower {
        display: none;
    }

    .logo {
        height: 90px;
        width: 90px;
    }

    .click_mmh {
        width: 280px;
        height: 75px;
    }

    .click_mmh strong {
        font-size: 22px;
    }

    .dog_sprite {
        width: 120px;
        height: 120px;
    }

    .dog_txt {
        min-width: 270px;
        font-size: 14px;
        padding: 0px 5px;
        top: 32%;
        right: 5%;
        height: 50px;
    }

    .dog_1 .dog_txt {
        min-width: unset;
        width: 270px;
    }

    .dog_txt input {
        position: absolute;
        bottom: -70%;
        left: -20%;
        width: 200px;
        height: 40px;
    }

    .dog_name {
        top: 0%;
        left: 30%;
    }

    .dog {
        left: -1%;
        animation: dog_move 1s forwards;
    }

    @keyframes dog_move {
        from {
            bottom: -100%;
        }

        to {
            bottom: -4%;
        }
    }

    .forward_btn,
    .reverse_btn {
        font-size: 45px;
        width: 50px;
        height: 50px;
    }

    .heart {
        font-size: 200px;
    }

    .welcome_div {
        font-size: 28px;
        line-height: 60px;
        text-align: center;
    }

    .door img {
        height: 250px;
        width: 250px;
    }

    .heart_cont,
    .door_cont {
        font-size: 20px;
        padding: 8px 20px;
        width: 100%;
    }

    .audio {
        width: 80%;
        left: 10%;
        top: 92%;
    }


    /* Home Page CSS START  */

    .navbar {
        display: none;
    }

    nav {
        padding: 20px 0px;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    }

    .mobile_nav {
        display: block;
    }

    .mob_menu {
        position: fixed;
        width: 100%;
        height: 81vh;
        text-align: center;
        top: 19%;
        left: 100%;
        transition: 0.3s linear;
        z-index: 999;
        border-top: 2px solid black;
        background-color: rgb(29, 30, 30);
    }

    .menu_ico,
    .menu_ico2 {
        color: rgb(26, 69, 33);
        width: 35px;
        font-size: 28px;
        margin-left: 100px;
    }

    .menu_ico2 {
        display: none;
    }

    .mob_menu ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        margin-right: 20px;
    }

    .mob_menu ul li {
        margin: 40px 0px;
        flex-basis: 100%;
        --fill-color: #457d53;
        position: relative;
        display: block;
        padding: 4px 0;
        font: 700 23px Raleway, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-text-stroke: 2px var(--fill-color);
        background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
        color: transparent;
        background-clip: text;
        transition: 0.3s linear;
    }

    .mob_menu ul li:hover {
        background-size: 100%;
    }

    .menu_list_ico {
        color: white;
    }

    .line {
        display: none;
    }

    .btn_home {
        width: 80%;
    }

    .btn_home strong,
    .click_mmh strong {
        font-size: 25px;
    }

    .home_content {
        width: 100%;
    }

    .home_content_top {
        font-size: 30px;
        width: 85%;
        margin-top: 50px;
    }

    .home_content_bottom {
        padding: 10px;
        padding-bottom: 0px;
        font-size: 18px;
        margin: auto;
        margin-top: 25px;
        line-height: 40px;
        width: 90%;
    }

    .back_top {
        top: 88%;
        left: 82%;
        padding: 5px 14px;
        font-size: 30px;
        z-index: 99999;
        border-radius: 10px;
    }

    footer {
        font-size: 16px;
    }

    .mob_home_logo {
        height: 90px;
        width: 90px;
        margin: 0px;
        margin-left: 20px;
    }

}

@media only screen and (max-width: 767px) {

    .name_error,.zoom_error{
        left: 10%;
    }

    .heart {
        font-size: 150px;
        padding-top: 100px;
    }

    .float_box,.welcome_div, .end_div{
        align-items: flex-start;
        padding-top: 150px;
        font-size: 25px;
        line-height: 50px;
    }

    .welcome_div{
        padding-top: 250px;
    }

    .end_div{
        font-size: 20px;
        padding-top: 100px;
    }

    .heart_cont,
    .door_cont {
        font-size: 20px;
        line-height: 45px;
    }

    .lantern_user,.lantern_ask{
        right: 2%;
    }

    .game_mob {
        display: block;
        height: 300px;
    }

    .game_pc {
        display: none;
    }
}