@media only screen and (max-width:768px){

    #main_overlay{
        background-position: 48% 50%;
    }

    .main_overlay_nav ul{
        justify-content: center;
    }

    .logo{
        height: 100px;
        width: 130px;
    }

    .main_overlay_nav ul li{
        font-size: 16px;
        margin: 0px 10px;
    }

    .main_overlay_nav ul li:first-child{
        padding: 10px 15px;
    }

    .main_overlay_nav ul li:last-child{
        padding: 10px 0px;
    }

    .main_overlay_middle{
        width: 100%;
        margin-top: 100px;
    }

    .main_overlay_slogan{
        line-height: 50px;
        font-size: 25px;
        border: none;
    }

    .btn{
        margin-top: 10px;
        width: 80%;
    }

    .btn strong{
        font-size: 30px;
    }

    .main_overlay_bottom{
        font-size: 16px;
        margin-top: 140px;
    }

    .butterfly{
        height: 120px;
        width: 120px;
    }

    .flower{
        display: none;
    }

    .logo_slide{
        height: 100px;
    }

    .logo_slide img{
        height: 100px;
        width: 150px;
    }

    .lvl1_1, .lvl2_1, .lvl3_1{
        width: 90%;
        font-size: 18px;
        line-height: 30px;
        margin: 20px auto;
        margin-top: 30px;
        padding: 10px 20px;
    }

    .lvl1_1{
        margin-top: 80px;
    }

    .lvl1_2, .lvl2_2, .lvl2_4, .lvl3_2{
        width: 90%;
        margin: 20px auto;
        line-height: 30px;
        font-size: 18px;
        padding: 10px 20px;
    }

    .lvl1_3, .lvl2_3, .lvl3_3{
        width: 90%;
        font-size: 20px;
        margin: 20px auto;
        line-height: 30px;
        padding: 10px 20px;
    }

    .nature_p{
        width: 90%;
        margin: 10px auto;
        line-height: 40px;
        font-size: 17px;
        padding: 0px 20px;
    }

    .nature_p1{
        margin-top: 20px;
    }

    .p_margin_bottom{
        margin-bottom: 50px;
    }

    .p_margin_top{
        margin-top: 50px;
    }

    .forward_btn, .reverse_btn{
        font-size: 45px;
        width: 50px;
        height: 60px;
        background-color: rgba(158,128,26,0.7);
    }

    .audio{
        width: 80%;
        bottom: 2%;
        left: 10%;
    }

    .slide_lvl3{
        background-position:10% 60%;
    }

    .lvl3_1{
        margin-bottom: 5px;
    }

    .lvl3_2_1{
        margin: 0px auto;
    }

    .lvl3_3_1{
        margin: 0px auto;
    }

    .lvl3_3{
        height: 320px;
    }

    .lvl3_3_mob{
        display: block;
    }

    .lvl3_3_pc{
        display: none;
    }

    .lvl3_3 span{
        font-size: 10px;
        line-height: 12px;
    }

    .lvl3_2_m{
        margin-top: 50px;
    }

    .lvl3_4{
        font-size: 14px;
    }

    .navbar{
        display: none;
    }

    .index_main{
        background: none;
        background-image: linear-gradient(85deg,rgb(184, 221, 239),white);
    }

    nav{
        padding: 30px 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile_nav{
        display: block;
    }

    .mob_menu{
        position: fixed;
        width: 100%;
        height: 71.8vh;
        text-align: center;
        background-color: white;
        top: 28%;
        left: 100%;
        transition: 0.5s linear;
        z-index: 999;
        border-top: 2px solid black;
    }

    .menu_ico, .menu_ico2{
        color: rgb(158,128,26);
        font-size: 25px;
        background-color: white;
        border: 2px solid black;
        border-radius: 8px;
        padding: 6px 12px;
    }

    .menu_ico2{
        display: none;
    }

    .mob_menu ul{
        margin-top: 40px;
    }

    .mob_menu ul li{
        line-height: 90px;
        font-size: 21px;
        text-transform: capitalize;
    }

    .menu_list_ico{
        color: rgb(158,128,26);
    }

    .line{
        display: none;
    }

    .btn_index{
        width: 100%;
    }

    .index_content{
        padding: 0px;
    }

    .index_content_top{
        font-size: 30px;
        width: 85%;
        margin-top: 50px;
    }

    .index_content_bottom{
        padding-bottom: 0px;
        font-size: 18px;
        margin: auto;
        margin-top: 25px;
        line-height: 40px;
        width: 90%;
    }

    footer{
        font-size: 16px;
    }

    .mob_index_logo{
        height: 120px;
        width: 150px;
    }

}