* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

button {
    color: black;
}

main {
    width: 100%;
    font-family: 'Merienda', cursive;
}

#main_overlay {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    background-image: url(../images/wp9361195-cartoon-nature-4k-wallpapers.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: 1000;
    overflow: hidden;
}

.cat {
    position: absolute;
    display: flex;
    height: 160px;
    width: 400px;
    bottom: -100%;
    left: 15%;
    animation: cat_move2 1s forwards;
    z-index: 999;
}

.cat_sprite {
    width: 170px;
    height: 170px;
    filter: drop-shadow(0px 0px 5px #000);
}

.cat_name {
    font-weight: bold;
    background-color: orange;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -8%;
    left: 20%;
    line-height: 16px;
    box-shadow: 0px 0px 4px 2px #000;
}

.cat_sprite img {
    width: 100%;
    height: 100%;
}

.cat_txt {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
    background-color: white;
    min-width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    opacity: 1;
    padding: 10px 15px;
    border: 2px solid rgb(226, 168, 6);
    border-radius: 20px 5px 5px 5px;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    right: -22%;
    filter: drop-shadow(0px 0px 4px #000);
}

#user_name {
    text-align: center;
    text-transform: capitalize;
    padding: 10px 20px;
    border: 2px solid rgb(226, 168, 6);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 17px;
    width: 350px;
    height: 70px;
}

.name_error {
    background-color: white;
    text-align: center;
    font-size: 14px;
    color: red;
    text-transform: capitalize;
    padding: 5px 10px;
    border: 2px solid rgb(226, 168, 6);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: -100%;
    left: 10%;
    opacity: 0;
    transition: 0.5s;
    line-height: 40px;
    left: 55%;
}

#user_name:focus {
    outline: none;
}

.cat_1 {
    bottom: -100%;
    left: 35%;
    animation: cat_move1 1s forwards;
}

.cat_1 .cat_txt {
    min-width: unset;
    width: 350px;
}

/* The typing effect */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.main_overlay_nav {
    width: 100%;
}

.logo {
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

.logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.logo_slide {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.main_overlay_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.main_overlay_nav ul li {
    font-size: 22px;
    font-weight: bold;
    margin: 0px 50px;
}

.main_overlay_middle {

    margin-top: 15vh;
}

.main_overlay_slogan {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    border-left: 2px solid black;
}

.main_overlay_slogan span:nth-child(1) {
    color: #9e691a;
}

/* CSS of MMH Button */

.click_mmh {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: auto;
    margin-top: 30px;
    height: 100px;
    background-size: 300% 300%;
    border-radius: 10px;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent !important;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
}

.click_mmh strong {
    z-index: 2;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    color: #FFFFFF;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle_btn {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 5s infinite;
    z-index: -1;
}

.circle_btn:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle_btn:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.click_mmh:hover {
    transform: scale(1.1)
}

/* END of MMH button css */

.main_home_page {
    width: 100%;
    text-align: center;
    color: rgb(11, 12, 12);
    text-decoration: underline;
    margin-top: 10px;
}

.butterfly {
    position: absolute;
    top: 12%;
    left: -10%;
    height: 200px;
    width: 200px;
    animation: butterfly 15s 0.1s linear infinite;
}

.butterfly img {
    height: 100%;
    width: 100%;
}

.flower {
    position: absolute;
    top: 72%;
    left: 8%;
    height: 200px;
    width: 200px;
}

.flower img {
    height: 100%;
    width: 100%;
}

.main_overlay_bottom {
    width: 100%;
    position: absolute;
    bottom: 2%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.forward_btn,
.reverse_btn {
    position: absolute;
    top: 45%;
    margin: 0px 10px;
    border: 1px solid black;
    color: white;
    height: 80px;
    width: 80px;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
    opacity: 1;
}

/* Button Backgrounds */
.pink_bg {
    background-image: linear-gradient(90deg, #d14f96, #9c538a);
}

.green_bg {
    background-image: linear-gradient(90deg, #272727, #273f21);
}

.blue_bg {
    background-image: linear-gradient(315deg, #6daddb 0%, #313131 74%);
}

.slide_lvl {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    position: relative;
    text-transform: capitalize;
    padding-top: 0.1px;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(30, 29, 29);
}

.carousel-indicators {
    z-index: 999;
}

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.welcome_div,
.end_div {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: 2s;
    text-align: center;
    line-height: 80px;
    z-index: 999;
}

.user_name_div {
    transition: 1s;
}

.float_box {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.8);
}

.heart {
    cursor: pointer;
    font-size: 280px;
    color: rgb(222, 64, 64);
    transition: 1s;
    margin-bottom: 200px;
}

.heart_cont,
.door_cont {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    width: 50%;
    padding: 40px 30px;
    line-height: 50px;
    text-align: center;
    border: 2px solid rgb(226, 168, 6);
    border-radius: 20px;
    box-sizing: border-box;
}

.heart_cont button,
.door_cont button,
.lantern_submit,
.lantern_opt1,
.lantern_opt2,
.review_btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    line-height: 16px;
    font-size: 16px;
    background-color: orange;
    margin-top: 30px;
    color: black;
}

.review_btn {
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 15%;
    left: 44.5%;
}

.door img {
    height: 500px;
    width: 500px;
    cursor: pointer;
}

.door {
    transition: 1s;
}

.lantern {
    position: absolute;
    bottom: -20%;
    left: 0%;
    filter: drop-shadow(0px 0px 10px #fff);
}

.lantern_user {
    background-color: rgba(160, 158, 158, 0.5);
    font-size: 16px;
    padding: 10px;
    border: 0.1px solid rgb(226, 168, 6);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: -160%;
    right: -20%;
    box-sizing: border-box;
    opacity: 0;
    transition: 1s;
}

.lantern_submit {
    margin-top: 5px;
}

.lantern_user textarea {
    line-height: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    resize: none;
}

.lantern_user img {
    filter: drop-shadow(0px 0px 10px #fff);
}

.lantern_ask {
    position: absolute;
    height: 110px;
    opacity: 0.9;
    top: -40%;
    right: -10%;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background-color: white;
    margin-left: 50px;
    padding: 10px;
    border: 1px solid rgb(226, 168, 6);
    border-radius: 10px;
    box-sizing: border-box;
}

.lantern_user textarea:focus {
    outline: none;
}

.lantern_user textarea {
    text-align: center;
    text-transform: capitalize;
}

.lantern_userafter {
    border: none;
    background-color: transparent;
    animation: lantern_anim3 20s 1s linear forwards;
}

.lantern_userafter_textarea {
    background: transparent;
    color: white;
}

.lantern:nth-child(even) {
    animation: lantern_anim1 20s 1s linear forwards;
}

.lantern:nth-child(odd) {
    animation: lantern_anim2 20s 1s linear forwards;
}

.lantern_opt1,
.lantern_opt2 {
    margin-top: 0px;
}

.game_head {
    background: rgba(25, 26, 26, 0.6);
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    transition: all 0.02s;
    font-weight: bold;
    z-index: 0;
    filter: drop-shadow(0px 0px 10px rgb(2, 1, 1));
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.game_head:active {
    transform: scale(0.97);
}

.game_hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.game_hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
    border-radius: 40rem;
    width: 30rem;
    height: 15rem;
    transition: 1s;
    filter: blur(20px);
    animation: game_effect infinite 6s linear;
    opacity: 0.5;
}

.main_game {
    margin: auto;
    height: 450px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgb(2, 1, 1));
}

.game_guide {
    text-align: center;
    font-size: 12px;
    margin: 10px auto;
    color: red;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    line-height: 18px;
    padding: 10px 2px;
}

.main_game iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.game_mob {
    display: none;
}

.embedsocial-collect-iframe iframe {
    height: 1100px !important;
}


/* All Animations  */

/* Main Overlay Animation  */
@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes main_overlay {
    from {
        top: 0%;
    }

    to {
        top: -120%;
    }
}

/* Butterfly Animation */
@keyframes butterfly {
    from {
        left: -10%;
    }

    to {
        left: 110%;
    }
}

/* MMH Button Animation  */
@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* cat Animations  */
@keyframes cat_move2 {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0%;
    }
}

@keyframes cat_move1 {
    from {
        bottom: -100%;
    }

    to {
        bottom: 10%;
    }
}

/* Typing Animation */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Lantern Animation  */
@keyframes lantern_anim1 {
    0% {
        bottom: -10%;
        transform: translateX(0px);
        opacity: 1;
    }

    20% {
        bottom: 30%;
        transform: translateX(50px);
        opacity: 1;
    }

    40% {
        bottom: 50%;
        transform: translateX(-50px);
        opacity: 1;
    }

    60% {
        bottom: 70%;
        transform: translateX(50px);
        opacity: 1;
    }

    80% {
        bottom: 85%;
        transform: translateX(30px);
        opacity: 1;
    }

    100% {
        bottom: 100%;
        transform: translateX(0px);
        opacity: 0;
    }
}

@keyframes lantern_anim2 {
    0% {
        bottom: -10%;
        transform: translateX(0px);
        opacity: 1;
    }

    20% {
        bottom: 20%;
        transform: translateX(-50px);
        opacity: 1;
    }

    40% {
        bottom: 40%;
        transform: translateX(50px);
        opacity: 1;
    }

    60% {
        bottom: 50%;
        transform: translateX(-50px);
        opacity: 1;
    }

    80% {
        bottom: 75%;
        transform: translateX(-30px);
        opacity: 1;
    }

    100% {
        bottom: 100%;
        transform: translateX(0px);
        opacity: 0;
    }
}

@keyframes lantern_anim3 {
    0% {
        top: -155%;
        transform: translateX(0px);
        opacity: 1;
    }

    20% {
        top: -255%;
        transform: translateX(-50px);
        opacity: 1;
    }

    40% {
        top: -355%;
        transform: translateX(50px);
        opacity: 1;
    }

    60% {
        top: -455%;
        transform: translateX(-50px);
        opacity: 1;
    }

    80% {
        top: -555%;
        transform: translateX(-30px);
        opacity: 1;
    }

    100% {
        top: -655%;
        transform: translateX(0px);
        opacity: 0;
    }
}

/* Slide 2 Animation  */

@keyframes pulse {
    0% {
        transform: scale(.15) rotate(180deg);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes circle-1 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-35px, -50px);
    }
}

@keyframes circle-2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(35px, 50px);
    }
}

@keyframes circle-3 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-60px, 0);
    }
}

@keyframes circle-4 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(60px, 0);
    }
}

@keyframes circle-5 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-35px, 50px);
    }
}

@keyframes circle-6 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(35px, -50px);
    }
}

/* END of 2nd Anim */

@keyframes game_effect {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Slide Backgrounds  */

/* Slide 1 */

.slide_bg {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -999;
    overflow: hidden;
    top: 0%;
    left: 0%;
}

/* Slide 2 */

.slide2_bg {
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-face {
    height: 125px;
    width: 125px;
    animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
}

.circle {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: screen;
    transform: translate(0, 0);
    animation: center 6s infinite;
    filter: blur(0);
}

.circle:nth-child(odd) {
    background: #61bea2;
}

.circle:nth-child(even) {
    background: #529ca0;
}

.circle:nth-child(1) {
    animation: circle-1 4s ease alternate infinite;
}

.circle:nth-child(2) {
    animation: circle-2 4s ease alternate infinite;
}

.circle:nth-child(3) {
    animation: circle-3 4s ease alternate infinite;
}

.circle:nth-child(4) {
    animation: circle-4 4s ease alternate infinite;
}

.circle:nth-child(5) {
    animation: circle-5 4s ease alternate infinite;
}

.circle:nth-child(6) {
    animation: circle-6 4s ease alternate infinite;
}

.slide5_bg {
    background-image: url(../images/lantern-back.jpg);
    background-size: cover;
    background-position: center 0%;
}

.slide_bg_video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.game_slide_bg {
    background-size: cover;
    background-position: center 70%;
}

.game_slide_bg1 {
    background-image: url(../images/gamebg.jpg);
}

.game_slide_bg2 {
    background-image: url(../images/gamebg2.jpg);
}

.game_slide_bg3 {
    background-image: url(../images/gamebg3.jpg);
}

.game_slide_bg4 {
    background-image: url(../images/gamebg4.jpg);
}


/* Start of Home Page CSS */

.home_main {
    background-image: url('../images/pexels-daniel-torobekov-10257142.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding-top: 0.1px;
}

.mobile_nav {
    display: none;
}

nav {
    padding-top: 10px;
    box-sizing: border-box;
    width: 100%;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 0px;
}

.mob_home_logo {
    margin: auto;
}

.navbar ul li {
    text-transform: uppercase;
    margin: 0px 30px;
    color: white;
    --fill-color: #457d53;
    position: relative;
    display: block;
    padding: 4px 0;
    font: 700 23px Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.3s linear;
}

.navbar ul li:hover {
    background-size: 100%;
}

.navbar ul li:hover {
    text-decoration: underline;
}

.home_content {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

.home_content_top {
    text-transform: capitalize;
    width: 40%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 45px;
    position: relative;
    color: white;
}

.line {
    width: 50%;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: -51%;
}

.line2 {
    left: 100%;
}

.home_content_bottom {
    width: 100%;
    padding: 25px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: justify;
    font-weight: bold;
    line-height: 45px;
    text-transform: capitalize;
    font-size: 22px;
    text-shadow: 1px 1px 1px white;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.contact {
    background: none;
}

.home_content_bottom ul {
    list-style: unset;
}

.btn_home {
    width: 35%;
}

.back_top {
    position: fixed;
    top: 91%;
    left: 89%;
    color: white;
    background-image: linear-gradient(90deg, #272727, #273f21);
    padding: 8px 18px;
    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(90deg, #272727, #273f21);
}

.cLzGfA {
    color: white;
}

.disp_none {
    display: none;
}