*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

#home_body{
    overflow: hidden;
}

main{
    width: 100%;
    font-family: 'Merienda', cursive;
}

#main_overlay{
    width: 100%;
    height: 100%;
    background-image: url(../images/wp9361195-cartoon-nature-4k-wallpapers.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: 999;
    animation: opacity 0.5s 1;
}

@keyframes opacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes main_overlay {
    from{
        top: 0%;
    }

    to{
        top: -120%;
    }
}

.main_overlay_nav{
    width: 100%;
}

.logo{
    height: 150px;
    width: 200px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.logo_slide{
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.main_overlay_nav ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 20px;
}

.main_overlay_nav ul li{
    font-size: 22px;
    font-weight: bold;
    margin: 0px 50px;
}

.main_overlay_nav ul li:first-child{
    padding: 10px 20px;
    border-top: 2px solid #9e801a;
    border-bottom: 2px solid #9e801a;
}

.main_overlay_nav ul li:first-child:hover{
    color: #9e801a;
}

.main_overlay_nav ul li:last-child{
    padding: 10px 20px;
    border-top: 2px solid #9e801a;
    border-bottom: 2px solid #9e801a;
}

.main_overlay_nav ul li:last-child:hover{
    color: #9e801a;
}

.main_overlay_middle{
    width: 30%;
    margin: auto;
    margin-top: 20.5vh;
}

.main_overlay_slogan{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    border-left: 2px solid black;
}

.main_overlay_slogan span:nth-child(1){
    color: #9e691a;
}

/* CSS of MMH Button */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 100px;
    background-size: 300% 300%;
    border-radius: 10px;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
  }
  
  .btn strong {
    z-index: 2;
    font-size: 35px;
    font-weight: 800;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

/* END of MMH button css */

.main_home_page{
    width: 100%;
    text-align: center;
    color: rgb(11, 12, 12);
    text-decoration: underline;
    margin-top: 10px;
}

.butterfly{
    position: absolute;
    top: 16%;
    left: -10%;
    height: 200px;
    width: 200px;
    animation: butterfly 15s 0.1s linear infinite;
}

.butterfly img{
    height: 100%;
    width: 100%;
}

@keyframes butterfly {
    from{
        left: -10%;
    }
    to{
        left: 110%;
    }
}

.flower{
    position: absolute;
    top: 72%;
    left: 8%;
    height: 200px;
    width: 200px;
}

.flower img{
    height: 100%;
    width: 100%;
}

.main_overlay_bottom{
    width: 100%;
    position: absolute;
    bottom: 2%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

@keyframes slides {
    0%{
        left: 0%;
        opacity: 1;
    }

    100%{
        left: -100%;
        opacity: 0;
    }
}

@keyframes slides_rev {
    0%{
        left: -100%;
        opacity: 0;
    }

    100%{
        left: 0%;
        opacity: 1;
    }
}


.slides{
    animation: opacity 0.8s 1;
}

.forward_btn, .reverse_btn{
    position: absolute;
    top: 45%;
    right: 0%;
    border: 1px solid black;
    /* background-color: rgba(158,128,26,0.8); */
    background-color: rgb(20, 20, 20);
    color: white;
    height: 80px;
    width: 80px;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.reverse_btn{
    left: 0%;
}

.slide_none{
    opacity: 0;
}

.slide_lvl1, .slide_lvl2, .slide_lvl3, .slide_nature, .slide_lvl2_end, .slide_lvl3{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    padding-top: 0.1px;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    background-image: url(../images/wp6215652-aesthetic-anime-scenery-wallpapers.jpg);
    background-size: cover;
    color: rgb(30, 29, 29);
}

.slide_lvl1{
    z-index: 998;
}

.lvl1_1, .lvl2_1, .lvl3_1{
    width: 60%;
    color: #9e801a;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 100px auto;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.lvl1_1{
    margin-top: 150px;
}

.lvl1_2, .lvl2_2, .lvl2_4, .lvl3_2{
    width: 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
    color: #9e801a;
}

.lvl1_2{
    line-height: 60px;
}

.lvl1_3, .lvl2_3, .lvl3_3{
    width: 60%;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #9e801a;
    border-radius: 10px;
    line-height: 50px;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.slide_lvl2{
    color: #000;
    font-size: 30px;
    text-transform: capitalize;
    background-image: url(../images/wp5489097-4k-colorful-desktop-wallpapers.jpg);
    z-index: 997;
}

.lvl2_1{
    margin-top: 100px;
    width: 60%;
    padding: 20px;
    color: #9e801a;
    box-sizing: border-box;
}

.lvl2_2, .lvl2_4{
    width: 60%;
    padding: 20px;
    color: #9e801a;
    box-sizing: border-box;
}

.lvl2_3{
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    color: #9e801a;
}

.slide_nature{
    font-size: 30px;
    text-transform: capitalize;
    background-image: url(../images/pexels-andré-cook-131723.jpg);
    z-index: 995;
}

.audio{
    position: absolute;
    bottom: 4%;
    left: 30%;
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

audio{
    width: 100%;
    background-color: #9e801a;
    border-radius: 10px;
}

.nature_p{
    width: 60%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    color: #9e801a;
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 100px;
}

.nature_p2{
    margin-top: 80px;
}

.nature_p3{
    margin-top: 80px;
    color: black;
}

.nature_2{
    background-image: url(../images/pexels-artem-saranin-1496373\(1\).jpg);
    background-position: 20% 50%;
    z-index: 994;
}

.nature_3{
    background-position: 50% 100%;
    background-image: url(../images/pexels-todd-trapani-2421722.jpg);
    z-index: 993;
}

.nature_4{
    background-position: 50% 80%;
    background-image: url(../images/pexels-marlon-martinez-1450082.jpg);
    z-index: 992;
}

.slide_lvl2_end{
    font-size: 30px;
    text-transform: capitalize;
    background-image: url(../images/wp4511654-scenery-night-digital-art-wallpapers.jpg);
    z-index: 991;
}

.slide_lvl3{
    font-size: 30px;
    text-transform: capitalize;
    background-image: url(../images/3742794.jpg);
    z-index: 990;
}

.lvl3_1{
    background-color: rgba(0,0,0,0.9);
    color: white;
    margin-bottom: 20px;
}

.lvl3_2{
    width: 30%;
    font-size: 40px;
    background-color: rgba(0,0,0,0.9);
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

.lvl3_3{
    margin-top: 20px;
    background-color: unset;
    width: 60%;
    height: 550px;
}

.lvl3_3 iframe{
    height: 100%;
    width: 100%;
}

.lvl3_3_mob{
    display: none;
}

.lvl3_3 span{
    font-size: 14px;
    color: red;
    background-color: rgba(0,0,0,0.9);
}

.lvl3_2_m{
    margin-top: 150px;
}

#slide9{
    z-index: 889;
}

#slide10{
    z-index: 888;
}

#slide11{
    z-index: 887;
}

#slide12{
    z-index: 886;
}

.slide_lvl3_end{
    background-image: url(../images/catalin-pop-noydSJIWMSg-unsplash.jpg);
    background-position: 10% 10%;
}

.lvl3_4{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    line-height: 60px;
}

/* Start of Index Page CSS */

.index_main{
    background-image: url(../images/pexels-pixabay-158756.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    padding-top: 0.1px;
}

.mobile_nav{
    display: none;
}

nav{
    padding: 50px 0px;
    padding-right: 100px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.navbar ul{
    display: flex;
    margin: 0px 50px;
    border-top: 1px solid rgb(171, 91, 198);
    border-bottom: 1px solid rgb(171, 91, 198);
    list-style: unset;
}

.navbar ul li{
    text-transform: uppercase;
    margin: 10px 60px;
    font-size: 20px;
}

.navbar ul li:hover{
    text-decoration: underline;
}

.index_content{
    width: 100%;
    padding: 0% 12%;
    box-sizing: border-box;
}

.index_content_top{
    text-transform: capitalize;
    width: 30%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 45px;
    position: relative;
    color: white;
}

.line{
    width: 50%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: -51%;
}

.line2{
    left: 100%;
}

.index_content_bottom{
    width: 100%;
    padding: 25px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: justify;
    font-weight: bold;
    line-height: 45px;
    text-transform: capitalize;
    font-size: 22px;
    text-shadow: 1px 1px 1px white;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.contact{
    background: none;
}

.index_content_bottom ul{
    list-style: unset;
}

.btn_index{
    width: 35%;
}

footer{
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: white;
    background-color: rgb(59, 58, 58);
}


